body {
    margin: 1px;
    background-color: #eee;
    color: #113333;
    font-family: sans-serif;
    font-size: 16px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #004d40 !important;
    color: #dbebf7;
    border: solid 1px #113333;
    font-family: sans-serif;
    /*font-size: 14px;*/
    text-transform: uppercase;
}

label {
    cursor: pointer;
}

td, th {
    padding: 5px;
}

.start-button {
    display: block;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    width: 400px;
    height: 100px;
    font-size: 20px;
    letter-spacing: 0.1em;

}

.container {
    min-width: 500px;
    width: 70%;
    margin: 0 auto;
}

.left, .right {
    width: 48%;
    min-width: 120px;
    display: inline-block;
    vertical-align: top;

}

.panel {
    overflow-y: auto;
}

.panels-container {
    text-align: center;
    /*width: 70%;*/
    margin: 0 auto;
}

#left-panel {
    margin: 10px auto;
}

#right-panel {
    margin: 10px auto;
    /*border: solid 1px #bbeeee;*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
}

.students-list {
    border: solid 1px #a9c9eb;
    background-color: #c1d8f1;
    height: 40px;
    margin: 0 0 3px 0;
}

.students-list:hover, .students-list label:hover, .students-list input:hover {
    cursor: pointer;
}

.iteration-info {
    border: solid 1px #bbeeee;
    background-color: rgba(256, 256, 256, 0.6);
    padding: 10px;
    margin: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;
}

.iteration-info a {
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    color: #669999;
}

.iteration-info a:hover {
    color: #227799;
}

.header {
    text-transform: uppercase;
    line-height: 1.5;
}

.send-button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: #113333;
    color: #dbebf7;
    border: solid 1px #113333;
    text-transform: uppercase;
}

.popup {
    width: 500px;
    min-height: 300px;
    background-color: rgba(250, 250, 250, 0.8);
    overflow: hidden;
    position: fixed;
    top: 40px;
    left: 25%;
    display: none;
}



.slide {
    display: none;
    margin: 0 auto;
    width: 650px;
    height: 500px;
    border: solid 1px;
    background: #dbebf7;
    position: relative;
}

#slide_0 {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}


.slide-header {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    background: #113333;
    /*color: #dbebf7;*/
    color: #eef;
}

.slide-body {
    margin: 20px;
}

.buttons-container {
    position: absolute;
    right: 20px;
    bottom: -12px;
}

.back-button {
    float: left;
    margin-right: 7px;
}

.next-button {
    float: right;
    /*margin-left: 5px;*/
}

.run-button {
    display: none;
    float: right;
    color: #dbebf7;
    background: #991111;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

#slide_4 input {
    width: 40px;
    height: 28px;
    margin: 0;
}

.main-container {
    display: none;
}

.main-container table {
    border-collapse: collapse;
    width: 100%;
}

.main-container th, .main-container td {
    border: solid 1px #113333;
    background: #dbebf7;
    padding: 5px;
}

.right-button {
    float: right;
    margin-top: 10px;
}

.left-button {
    float: left;
    margin-top: 10px;
}

.choose-button {
    background: none !important;
    border: none;
    color: #174467;
    Text-transform: none;
    text-decoration: underline;
    font-size: 16px;
    outline: none;
}

.groups-list {
    height: 330px;
    overflow-y: auto;
    position: relative;
    width: 94%;
}

.group-tutors-list {
    height: 300px;
    overflow-y: auto;
    position: relative;
    width: 94%;
}

.scroll-container {
    overflow: auto;
    height: 350px;
    /*width: 560px;*/
}

/*.quotas-table tbody {*/
    /*height: 300px;*/
    /*width: 560px;*/
    /*overflow: auto;*/
/*}*/
[type="checkbox"]+label{
    color: black;
    font-size: 16px;
}