body {
    margin: 1px;
    background-color: #eee;
    color: #113333;
    font-family: sans-serif;
}

.container {
    min-width: 500px;
    width: 70%;
    margin: 0 auto;
}

.left, .right {
    /*width: 48%;*/
    /*min-width: 120px;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/

}

.panel {
    overflow-y: auto;
}

.panels-container {
    text-align: center;
    /*width: 70%;*/
    margin: 0 auto;
}

#left-panel {
    margin: 10px auto;
    border: 1px dashed black;
}

#right-panel {
    margin: 10px auto;
    /*border: solid 1px #bbeeee;*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
    border: 1px dashed black;
}

/*.tutors-item {*/
/*border: solid 1px #a9c9eb;*/
/*background-color: #c1d8f1;*/
/*height: 40px;*/
/*margin: 0 0 3px 0;*/
/*}*/

.tutors-item:hover, .tutors-item label:hover, .tutors-item input:hover {
    cursor: pointer;
}

.iteration-info {
    border: solid 1px #bbeeee;
    background-color: rgba(256, 256, 256, 0.6);
    padding: 10px;
    margin: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;
}

.iteration-info a {
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    color: #669999;
}

.iteration-info a:hover {
    color: #227799;
}

.header {
    text-transform: uppercase;
    line-height: 1.5;
}

.send-button {
    width: 100%;
    cursor: pointer;
    background-color: #113333;
    color: #dbebf7;
    text-transform: uppercase;
}

.popup {
    width: 500px;
    min-height: 300px;
    background-color: rgba(250, 250, 250, 0.8);
    overflow: hidden;
    position: fixed;
    top: 40px;
    left: 25%;
    display: none;
}

.tutors-item {
    border: solid 1px #a9c9eb;
    background-color: #c1d8f1;
    margin: 0 0 3px 0;
    padding: 11px 20px;
}

.tutors-list {
    height: 450px;
    text-align: left;
}

.selected-tutors-list {
    height: 450px;
    text-align: left;
}

h5 {
    font-size: 1.24rem;
}

nav .brand-logo {
    font-size: 1.64rem;
}