body {
    margin: 1px;
    background-color: #eee;
    color: #113333;
    font-family: sans-serif;
}

.container {
    min-width: 500px;
    width: 70%;
    margin: 0 auto;
}

.left, .right {
    width: 46%;
    min-width: 120px;
    display: inline-block;
    vertical-align: top;

}

.left {
    margin-right: 25px;
    position: relative;
}

.right {
    margin-left: 25px;
}

.panel {
    overflow-y: auto;
}

.panels-container {
    text-align: center;
    /*width: 70%;*/
    margin: 0 auto;
}

#left-panel {
    margin: 0 auto;
    text-align: left;
    border: 1px dashed black;
}

#right-panel {
    margin: 92px auto 32px auto;
    border: solid 1px #a9c9eb;
    background-color: rgba(255, 255, 255, 0.6);
}

.tutors-item {
    border: solid 1px #000000;
    background-color: #c1d8f1;
    margin: 0 0 3px 0;
    padding: 11px 20px;
}

/*.students-list {*/
/*border: solid 1px #a9c9eb;*/
/*background-color: #c1d8f1;*/
/*!*height: 30px;*!*/
/*!*margin: 0 0 3px 0;*!*/
/*!*padding-top: 10px;*!*/
/*!*padding-left: 10px;*!*/
/*}*/

.students-list:hover, .students-list label:hover, .students-list input:hover {
    cursor: pointer;
}

.iteration-info {
    border: solid 1px #a9c9eb;
    background-color: rgba(256, 256, 256, 0.6);
    padding: 10px;
    margin: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;
}

.iteration-info a {
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    color: #669999;
}

.iteration-info a:hover {
    color: #227799;
}

.header {
    text-transform: uppercase;
    line-height: 1.5;
}

.send-button {
    /*width: 100%;*/
    padding: 8px;
    cursor: pointer;
    background-color: #113333;
    color: #dbebf7;
    border: solid 1px #113333;
    text-transform: uppercase;
    float: left;
}

.quota-button {
    /*width: 100%;*/
    padding: 8px;
    cursor: pointer;
    background-color: #113333;
    color: #dbebf7;
    border: solid 1px #113333;
    text-transform: uppercase;
    float: right;
}

.green {
    background-color: #88ffaa;
}

.red {
    background-color: #ff8888;
}

/*.students-list span {*/
/*margin-right: 20px;*/
/*float: right;*/
/*}*/

.students-table {
    display: table;
    border-spacing: 0 8px;
    width: 100%;

}

/*.students-list {*/
/*display: table-row;*/
/*}*/

/*.students-list > div {*/
/*display: table-cell;*/
/*}*/

/*.students-list td {*/
/*border-top: solid 1px #a9c9eb;*/
/*border-bottom: solid 1px #a9c9eb;*/
/*padding: 8px;*/
/*height: 20px;*/
/*}*/

/*.students-list td:first-child {*/
/*border-left: solid 1px #a9c9eb;*/
/*}*/

/*.students-list td:last-child {*/
/*border-right: solid 1px #a9c9eb;*/
/*}*/

.info-header {
    background-color: #a9c9eb;
    border-bottom: solid 1px #a9c9eb;
    padding: 9px;
    margin-bottom: 11px;
    color: #133;
    font-weight: bold;
}

.info span {
    font-weight: bold;
    color: #244;
}

.info-panel {
    padding: 7px;
}

.arrow {
    position: absolute;
    top: 0px;
    left: -19px;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-left: 0;
    border-right-color: #a9c9ff;
}
.student-info{
    display: none;
    position: relative;
    width: 530px;
}

.inner-arrow {
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.selected {
    -webkit-box-shadow: 0px 0px 3px 4px rgba(159, 191, 255, 1);
    -moz-box-shadow: 0px 0px 3px 4px rgba(159, 191, 255, 1);
    box-shadow: 0px 0px 3px 4px rgba(159, 191, 255, 1);
}

.students-list {
    height: 450px;
    text-align: left;
    padding: 3px;
}